<div class="page-header-2">
  <div class="container text-center">
    <h1>Blog</h1>
  </div>
</div>
<div class="container pt-20">
  <article class="post">
    <div class="post-number">
      <div class="number">1</div>
    </div>
    <div class="post-title">
      <h2>Lorem ipsum dolor sit amet</h2>
    </div>
    <div class="clearfix"></div>
    <div class="post-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl nisi, vehicula a imperdiet eu, pretium et magna. Curabitur sodales erat nibh, eu imperdiet dolor lacinia nec. Maecenas ac lacus laoreet, dapibus dui non, vestibulum enim. Curabitur ac egestas lorem. Vestibulum ut nisi sed enim vehicula venenatis. Vivamus scelerisque bibendum odio, et porttitor diam. Curabitur dui tortor, gravida vitae pretium et, adipiscing ac est. Nullam sit amet malesuada nisi. Nulla molestie rhoncus ante, in cursus dui posuere sit amet. Nullam commodo nec lorem non volutpat. Vivamus bibendum interdum libero ut fringilla.</p>
      <p>Vivamus ultricies elit non viverra tempus. Vestibulum gravida sapien tellus, nec interdum purus pretium eu. Donec blandit, quam a aliquet lobortis, elit dui sagittis purus, eget scelerisque augue lacus et est. Sed eu urna ornare, congue erat sit amet, elementum urna. Suspendisse luctus ipsum odio, faucibus semper tortor porta non. Nulla tincidunt consectetur vulputate. Vestibulum egestas eu leo sed venenatis. Fusce sagittis arcu ultricies dolor tempus, quis elementum mi pulvinar. Vivamus tellus quam, iaculis in malesuada aliquet, pretium quis mi. Proin et faucibus dui. Morbi ultricies eros ut lacus consectetur, in vestibulum odio interdum. Vivamus facilisis volutpat dolor eget ultrices. Vivamus nunc justo, varius vel commodo id, euismod ut sapien. Integer scelerisque et tortor nec rhoncus.</p>
      <p>Sed volutpat, sem et malesuada pharetra, enim mauris tempus leo, non aliquam risus justo id nulla. Sed vel dignissim erat. Quisque placerat pharetra odio, quis pellentesque mi sollicitudin eget. Mauris quis risus in lacus imperdiet accumsan eget id ipsum. Nunc volutpat porta massa, ut consequat metus porta cursus. Mauris a neque at lectus condimentum ullamcorper nec vel dui. Integer quis urna a elit pellentesque lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas euismod lorem eu risus ullamcorper, id lacinia odio adipiscing. Curabitur quis blandit lorem. Nullam vel elit in turpis egestas molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sed risus vitae metus feugiat viverra. Morbi ultricies, est eget tristique tincidunt, libero felis posuere risus, eget dictum neque urna sed est.</p>
    </div>
  </article>
</div>