{{#with content}}
  <div class="page-header-2">
    <div class="container text-center">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="container pt-20">
    <article class="post">
      <div class="post-number">
        <div class="number">{{id}}</div>
      </div>
      <div class="post-title">
        <h2>{{title}}</h2>
      </div>
      <div class="clearfix"></div>
      <div class="post-content">
        {{content}}
      </div>
    </article>
  </div>
{{/with}}