<div class="error404">
  <div class="col-md-offset-4 col-md-4 container404 text-center">
    <h1 class="head">404</h1>
    <p class="text-error danger">Error</p>
    <p>The page you were looking for doesn't exist</p>
    {{!-- <p>The page you're looking for cannot be found</p> --}}
  </div>
</div>
