<section class="big-cover waves-effect">
  <div class="container-fluid">
    <div class="text-center">
      <h1 class="animated fadeInUp">Andri Kurnia</h1>
      <p>I am 19 Years old and Web Developer who lives in Indonesia</p>
      <p>Bandung, West Java, Indonesia</p>
      <h2>Find me on</h2>
      <div class="find-me">
        <a href="https://www.facebook.com/andrkrn" target="_blank" class="btn btn-default btn-custom"><i class="fa fa-fw fa-lg fa-facebook-square"></i> Facebook</a>
        <a href="https://twitter.com/andrkrn" target="_blank" class="btn btn-default btn-custom"><i class="fa fa-fw fa-lg fa-twitter-square"></i> Twitter</a>
        <a href="https://www.linkedin.com/pub/andri-kurnia/90/301/402" target="_blank" class="btn btn-default btn-custom"><i class="fa fa-fw fa-lg fa-linkedin-square"></i> LinkedIn</a>
        <a href="https://github.com/andrkrn" target="_blank" class="btn btn-default btn-custom"><i class="fa fa-fw fa-lg fa-github-square"></i> Github</a>
      </div>
    </div>
  </div>
</section>
{{!-- <section class="technical">
  <div class="container">
    <div class="row">
      <h2 class="text-center padding-horizontal section-header animated fadeIn">What I Do?</h2>
      <div class="line-separator ls-1"></div>
      <div class="col-md-4">
        <div class="tech-item">
          <i class="fa fa-code fa-5x"></i>
          <br><br>
          <p>Development</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tech-item">
          <i class="fa fa-desktop"></i>
          <br><br>
          <p>Design</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tech-item">
          <i class="fa fa-thumbs-o-up"></i>
          <br><br>
          <p>Consultant</p>
        </div>
      </div>
    </div>
  </div>
</section> --}}