<div class="page-header">
  <div class="container text-center">
    <h1>My Account</h1>
  </div>
</div>

<div class="container text-center">
  {{link-to 'Articles' 'myaccount.articles'}}
</div>

<div class="container pt-20" style="min-height: 338px;">
  <div class="col-md-3">
    {{outlet "account_sidebar"}}
  </div>
  <div class="col-md-9">
    {{outlet "account"}}
  </div>
</div>