<ul class="nav nav-pills nav-stacked">
  {{#link-to "myaccount.articles.index" tagName="li"}}
      <a {{bind-attr href="view.href"}}>All</a>
  {{/link-to}}
  {{#link-to "myaccount.articles.new" tagName="li"}}
      <a {{bind-attr href="view.href"}}>New</a>
  {{/link-to}}
</ul>
