/*
* Andri Kurnia
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  font-family: 'Raleway', 'Segoe UI', 'Arial';
}

body.full-screen {
  height: 100vh
}

header {
  width: 100%;
  z-index: 100;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: #343434;
  border-width: 0;
  border-bottom: 1px solid #222;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  transition: all 0.2s;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  background-color: #232323;
  transition: all 0.2s;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #232323;
  transition: all 0.2s;
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover {
  border-color: #fff;
}

.page-header {
  margin: 0;
  border-bottom: 1px solid #333;
}

footer {
  background: url('./footer.jpg') repeat-x center top;
  // margin-top: 20px;
  background-color: #343434;
  min-height: 200px;
  padding: 20px 15px 40px;
}

footer .site-name {
  color: #eee;
  text-transform: uppercase;
  font: 600 italic 5rem 'Open Sans';
  padding-top: 30px;
  text-shadow: 2px 1px 0 #222;
  border-bottom: 1px solid #fff;
}

.banner--clone.banner--stick {
  .navbar {
    box-shadow: 0 1px 1px #333;
  }  
}

.big-cover {
  position: relative;
  min-height: 600px;
  max-height: 780px;
  height: 80vh;
  background: #0fc3ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0fc3ff 0%, #6fc9e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0fc3ff), color-stop(100%,#6fc9e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #0fc3ff 0%,#6fc9e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #0fc3ff 0%,#6fc9e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #0fc3ff 0%,#6fc9e2 100%); /* IE10+ */
  background: linear-gradient(135deg,  #0fc3ff 0%,#6fc9e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fc3ff', endColorstr='#6fc9e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  padding-top: 100px;
  display: block !important;

  h1 {
    font-weight: 300;
    font-size: 60pt;
  }

  h2 {
    font-weight: 300;
  }

  p {
    font-weight: 300;
    font-size: 18pt
  }
}

.find-me {
  width: 250px;
  margin: 0 auto;
  position: relative;
  z-index: 9999;

  a.btn-custom {
    width: 120px;
    margin: 5px 0;
  }
}

.about-me {
  padding: 50px 0;

  .content {
    font-size: 18px;
  }
}

.line-separator {
  margin-bottom: 20px;
  height: 2px;
}

.ls-1 {
  background: url('/assets/d1.png') 50% 50% no-repeat;
}

.ls-2 {
  background: url('/assets/d2.png') 50% 50% no-repeat;
}

.f-op {
  font-family: 'open sans'
}

.bg-blue {
  background-color: #0074D9;
}

.bg-gray {
  background-color: #2c3e50
}

.technical {
  color: #fff;
  background-color: #2c3e50;
  padding: 50px 0;
}

.tech-item {
  padding: 20px 0px;
  text-align: center;
  background-color: #334960;
}

.tech-item p {
  font-family: 'open sans';
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0
}

.tech-item i {
  font-size: 7em
}

/* Pane */
.pane {
  padding: 15px 40px;
  background: #fff;
  border: solid #ddd;
  border-width: 1px 1px 3px 1px;
  border-bottom-color: #999;

  margin-bottom: 10px;

  color: #222;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}

.pane-1 {
  border-bottom-color: #ff4136 !important; 
}

.pane-2 {
  border-bottom-color: #0074D9 !important;
}

.pane-3 {
  border-bottom-color: #2ECC40 !important;
}

.pane-4 {
  border-bottom-color: #85144B !important; 
}

.pane-5 {
  border-bottom-color: #B10DC9 !important;
}

.pane-header {
  border-bottom: 2px solid #333;
}

ul.personal-info {
  font-weight: 500;
  font-size: 16px;
  padding-left: 0px;
  list-style: none;
  margin-top: 10px;
}

ul.personal-info > li {
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  padding: 15px 10px;
}

ul.personal-info ul.location {
  list-style: none;
  padding-left: 5px;
}

.fa-warp-buble::before {
  border-radius: 50%;
  padding: 10px;
}

.fa-red::before {
  background-color: #ff4136;
  color: #fff;
}

.fa-orange::before {
  background-color: #FF851B;
  color: #fff;
}

.fa-blue::before {
  background-color: #0074D9;
  color: #fff;
}

.fa-twitter::before {
  background: #4099FF;
  color: #fff;
}



/* PADDING */
.pt-20 {padding-top: 20px !important}
.pl-15 {padding-left: 15px !important}
.pl-30 {
  padding-left: 30px !important;
}

/* MARGIN */
.mb-10 {margin-bottom: 10px !important}

.ml-5 {margin-left: 5px !important}

/* HEIGHT */
.h-100 {height: 100px;}

/* LIST STYLE */
.list-style-2 {
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
}

.list-style-2 > li {
  padding: 10px 15px;
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
  font-weight: 600;
}


/* BADGE */

.badge {
  border-radius: 3px;
}

.badge-good > .badge {
  background-color: #0074D9;
}

.badge-ok > .badge {
  background-color: #2ECC40;
}

.badge-bad > .badge {
  background-color: #FF4136;
}

/* Font Awesome */
.fa-rotate-15 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* Blog */
.post {
  color: #222
}

.post .post-number {
  position: relative;
  background-color: #333;
  float: left;
  padding: 0 10px;
  height: 70px;
  border-radius: 7px;
}

.post .post-number .number {
  text-align: center;
  color: #fff;
  font-size: 26pt;
  line-height: 70px;
}

.post .post-title {
}

.post .post-details {
  font-style: italic;
  font-size: 10px;
}

.post .post-content {
  border-top: 1px solid #aaa;
  font: normal 12px 'open sans';
  text-align: justify;
  margin-top: 12px;
  padding-top: 5px;
}

.blog-pane {
  border-bottom: 2px solid;

  h4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: 'open sans';
    font-weight: 600;
    border-bottom: 1px solid #aaa;
  }
}

@media (min-width: 992px) { 
}

// 404
.error404 {
  .head {
    font-family: 'open sans';
    font-size: 112pt;
    font-weight: bolder;
  }

  .text-error {
    font-size: 30px;
    color: #c7254e;
  }

  .subhead {
    font-family: 'open sans';
  }
}

// Login Form
h1.login-header {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'open sans'
}

.login {
  width: 400px;
  margin: 0px auto;
}