<!DOCTYPE html>
<html>
<head>
  <title>Kurkur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">@andrkrn</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="blog.html">Blog</a></li>
          <li><a href="index.html">Curriculum Vitae</a></li>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%= yield %>

  <footer class="footer">
    <div class="container">
      <div class="site-name pull-left"><i class="fa fa-smile-o fa-rotate-15 fa-fw"></i>Andri Kurnia</div>
    </div>
  </footer>
</body>
</html>
